pre {
  background: #e5e5e5;
  padding: 10px;
  border-radius: 5px;
  overflow: auto;
}

.p-img{
  border: 1px solid black;
  width: 90%;
  max-width: 500px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(224, 223, 223)
}
